.aboutcover{
    left: 0;
    top: 0;
    height:960px;
    width:100%;
    background-color: #010003;
    position: relative;
    transition: all 0.2s ease;
}

.abouttext{
    height:100px;
    width:600px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
    font-weight: 600;
    align-items: center;
    color:#a41abc;
    padding: 2rem;
    font-family: "Orbitron", sans-serif;
    transition: all 0.2s ease;
}

.alpha{
    color:transparent;
    background: linear-gradient(180deg,rgba(227, 212, 255, 1) 60%, rgba(164, 26, 188, 1) 59%);
    background-clip:text;
    -webkit-background-clip:text;
    margin-left: 20px;
    -webkit-text-stroke: 1px rgba(227, 212, 255, 1);
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    transition: all 0.2s ease;
}

.line{
    height:3px;
    width:90px;
    margin: 0 auto;
    background-color: #eadfff;
    transition: width 0.7s ease;
}

.abouttitle:hover .line{
    background: #a41abc ;
    width:300px;
}

.aboutcontentcover{
    top:0;
    left: 0;
    margin:0;
    height:794px;
    width:100%;
    background-color: #070008 ;
    position: relative;
    display: flex;
    margin-top: 3rem;
    padding-top: 6rem;
    transition: all 0.2s ease;
}

.aboutcontenttext{
    height:auto;
    width: 60%;
    text-align: left;
    transition: all 0.2s ease;
    max-height: 724px;
    min-width: 700px;
}

.aboutimagecover{
    height:624px;
    width: 40%;
    transition: all 0.2s ease;
    margin-left: 7rem;
    min-width: 500px;
}

.aboutimage{
    height:530px;
    width: 77%;
    border-radius: 20px;
    box-shadow: inset 0 0 10px #a338b1f3;
    margin-top: 0rem;
    overflow: hidden;
    transition: all 0.2s ease;
}

.aboutimage img{
    height:100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: all 0.5s ease;
}

.aboutimage img:hover{
    transform: scale(1.1);
}

.aboutbackground{
    height:80%;
    width: 80%;
    border:1px solid #ea47fff3;
    border-bottom: none;
    border-right: none;
    background: linear-gradient(150deg,#c11fdd3d 0%, rgb(15, 10, 30) 56%, rgba(0, 0, 0, 0) 94%);   
    border-radius: 10px;
    padding: 2rem 2.5rem;
    transition: all 0.2s ease;
}

.heading1{
    color:  #ffbb00;
    font-family: "Orbitron", sans-serif;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.2s ease;
}

.subheading1{
    color: #e4d5ff;
    cursor: pointer;
    font-size: 1.2rem;  
    margin-top: 1rem;
    transition: all 0.2s ease;
}

.heading2{
    color: #00ff73;
    font-family: "Orbitron", sans-serif;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-left: 6rem;
    transition: all 0.2s ease;
}

.subheading2{
    color: #e4d5ff;
    cursor: pointer;
    font-size: 1.2rem;  
    margin-top: 1rem;
    margin-left: 6rem;
    transition: all 0.2s ease;
}

.heading3{
    color: #00f7fff3;
    font-family: "Orbitron", sans-serif;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-left: 15rem;
    transition: all 0.2s ease;
}

.subheading3{
    color: #e4d5ff;
    cursor: pointer;
    font-size: 1.2rem;  
    margin-top: 1rem;
    margin-left: 15rem;
    transition: all 0.2s ease;
}

@media (max-width: 1000px) {
    .aboutcover{
        height:1640px;   
        transition: all 0.2s ease;
    }
    .aboutcontentcover{
        flex-direction: column;
        height:1624px;
        align-items: center; 
        transition: all 0.2s ease;
    }
    .aboutcontenttext{
        height:624px;
        width: 80%;
        margin-left: 0;
        margin-top: 8rem;
        transition: all 0.2s ease;
    }

    .aboutimagecover{
        height:624px;
        width: 80%;
        transition: all 0.2s ease;
        margin-left: 0;
        min-width: 500px;
    }

    .aboutimage{
        height:624px;
        width: 100%;
        margin-top: 2rem;
        box-shadow: inset 0 0 30px black;
        transition: all 0.2s ease;
    }

    .aboutbackground{
        height:80%;
        width: 100%;
        border:1px solid white;
        padding: 2rem 2.5rem;
        background: linear-gradient(150deg,#d900ff3d 0%, #c11fdd0d 56%, rgba(0, 0, 0, 0) 94%);   
        border-right:none;
        border-bottom:none;
        transition: all 0.2s ease;
    }
}
